.DS_Store
node_modules
/lib
/coverage
/**/dist
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test generate data files
examples/download-images/img
examples/**/*.png
examples/**/*.jpg
examples/**/*.gif
*.zip
*.webm
*.pdf
